---
import Layout from '../layouts/Layout.astro';
import { Input } from '@/components/ui/input';
import { Button } from '@/components/ui/button';
import '@/styles/globals.css'

---

<Layout title="Welcome to Astro.">
	<main class="mx-auto max-w-xl">
    <h1 class="text-5xl font-bold text-center">Welcome my Astro Template.</h1>
    <p class="mt-6 text-xl">This is an Astro template which contains:</p>
    <ul class="list-disc text-lg mt-5">
      <li>React</li>
      <li>Tailwind</li>
      <li>Shadcn Ui</li>
      <li>Vitest</li>
    </ul>
    <Button>Create account</Button>
    <Input type='text' placeholder="Type here" className='mt-3' />

  </main>
</Layout>

