---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'
import { FormDemo } from '@/components/FormDemo';

---

<Layout title="Astro Template">
	<main class="mx-auto max-w-xl">
    <h1 class="text-5xl font-bold text-center">Welcome to my Astro Template</h1>
    <p class="mt-6 text-xl">This is an Astro template which contains:</p>
    <ul class="list-disc text-lg mt-5">
      <li>React</li>
      <li>Tailwind</li>
      <li>Shadcn Ui</li>
      <li>Vitest</li>
    </ul>

    <FormDemo client:load/>
  </main>
</Layout>

