
<nav class="p-4 border-b">
  <div class="flex justify-between items-center  max-w-screen-lg mx-auto">
    <h1 class="text-3xl font-bold">App Logo</h1>
    <a href="https://github.com/jghedderich/astro-template" class="hover:underline font-semibold">Use this template</a>
  </div>
</nav>
